/* @theme theme */

// @import-theme 'default';

@import 'node_modules/highlight.js/styles/arta';

$slide-background-color: white; // #002855;
$slide-text-size: 1.4em;
$slide-text-color: black; // #009FDF;

$code-background-color: white; // #002855;
$code-text-color: black; // #009FDF;

$image-border-color: black;
$image-border-style: solid;
$image-border-width: 1px;

$hyperlink-color: blue;
$hyperlink-decoration: underline;

$title-text-size: 2.5em;
$title-text-color: $slide-text-color;
$subtitle-text-size: 1.3em;
$subtitle-text-color: rgba($slide-text-color, 0.5);

$heading3-text-size: 1.6em;
$heading4-text-size: 1.4em;
$heading5-text-size: 1.2em;
$heading6-text-size: 1.0em;


h1 {
  font-size: $title-text-size;
  color: $title-text-color;
}

h1:first-of-type {
  margin-top: 17%;
}

h2 {
  font-size: $subtitle-text-size;
  color: $subtitle-text-color;
}

h1,
h2 {
  text-align: center;
}

h3 {
  font-size: $heading3-text-size;
}

h4 {
  font-size: $heading4-text-size;
}

h5 {
  font-size: $heading5-text-size;
}

h6 {
  font-size: $heading6-text-size;
}

h3,
h4,
h5,
h6 {
  border-bottom: none;
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  strong {
    font-weight: inherit;
  }
}

hr {
  height: 0;
  padding-top: 0.25em;
}

header,
footer {
  // border: 1px solid red;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  font-size: 12px;
  height: 20px;
  padding: 12px;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}

section {

  // border: 1px solid red;

  padding: 35px 35px 30px 30px;

  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: $slide-text-size;

  color: $slide-text-color;
  background-color: $slide-background-color;

  ul,
  ol {
    // border: 1px solid red;
    margin: 0 auto;
    text-align: left;
  }

  > ul,
  > ol {
    margin-bottom: 15px;
  }

  img {
    border: $image-border-width $image-border-style $image-border-color;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
  }

  a {
    color: $hyperlink-color;
    text-decoration: $hyperlink-decoration;
  }

  blockquote {
    border-left: 13px solid $slide-text-color;
    padding-left: 13px;
    color: #939699;
  }

  
  table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;

    tr {
      background-color: white;
      border-color: $slide-text-color;
      &:nth-child(2n) {
        background-color: rgba(grey,0.5);
      }
    }

    th {
      background-color: grey;
    }

    th,
    td {
      border: 1px solid $slide-text-color;
      padding: 12px;
    }
  }

  pre {
    border: 1px solid $slide-text-color;
    // box-shadow: 5px 5px $text-color;
    color: $code-text-color;
    background-color: $code-background-color;
  }
  
}

section::after {
  position: absolute;
  padding: 12px;
  height: 20px;
  // border: 1px solid red;
  color: $slide-text-color;
  font-size: 12px;
  content:  attr(data-marpit-pagination) ' / ' attr(data-marpit-pagination-total);
}
