// Pagination Styles
section::after {
  position: absolute;
  padding: $pagination-padding;
  height: $pagination-height;
  color: $pagination-text-color;
  font-size: $pagination-text-size;
  content: $pagination-content;
}