
// Header and Footer Styles
header,
footer {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
}

header {
  top: 0;
  padding: $header-padding;
  height: $header-height;
  font-size: $header-text-size;
  color: $header-text-color;
}

footer {
  bottom: 0;
  padding: $footer-padding;
  height: $footer-height;
  font-size: $footer-text-size;
  color: $footer-text-color;
}

// Slide Styles
section {
  padding: $slide-padding;

  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;

  font-family: $slide-font-family;
  font-size: $slide-text-size;

  color: $slide-text-color;
  background-color: $slide-background-color;
}

// Title and Headning Styles
section {
  h1 {
    font-size: $title-text-size;
    color: $title-text-color;
  }
  
  h1:first-of-type {
    margin-top: 17%;
  }
  
  h2 {
    font-size: $subtitle-text-size;
    color: $subtitle-text-color;
  }
  
  h1,
  h2 {
    text-align: center;
  }
  
  h3 {
    font-size: $heading3-text-size;
  }
  
  h4 {
    font-size: $heading4-text-size;
  }
  
  h5 {
    font-size: $heading5-text-size;
  }
  
  h6 {
    font-size: $heading6-text-size;
  }
  
  h3,
  h4,
  h5,
  h6 {
    border-bottom: none;
    margin-bottom: $heading-margin-bottom;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    strong {
      font-weight: inherit;
    }
  }
}

// Horizontal Rule Styles
section { 
  hr {
    height: 0;
    padding-top: 0.25em;
  }
}

// Listing Styles
section {
  ul,
  ol {
    margin: $list-margin;
    text-align: left;
    li {
      font-size: $list-item-text-size;
      li {
        font-size: $list-item-text-size-auto-decrease;
      }
    }    
  }

  ul {
    list-style-type: square;
  }
}

// Image Styles
section { 
  img {
    border: $image-border-width $image-border-style $image-border-color;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
  }
}

// Hyperlink Styles
section { 
  a {
    color: $hyperlink-color;
    text-decoration: $hyperlink-decoration;
  }
}

// Blockquote Styles
section { 
  blockquote {
    border-left: $blockquote-border-size $blockquote-border-style $blockquote-border-color;
    padding-left: $blockquote-padding;
    color: $blockquote-text-color;
  }
}

// Table Styles
section {   
  table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;

    tr {
      background-color: $table-row-background-color;
      border-color: $slide-text-color;
      &:nth-child(2n) {
        background-color: $table-second-row-background-color;
      }
    }

    th {
      background-color: $table-header-background-color;
    }

    th,
    td {
      border: $table-border-size $table-border-style $table-border-color;
      padding: $table-cell-padding;
    }
  }
}

// Code Styles
section { 
  pre {
    border: $code-border-size $code-border-style $code-border-color;
    color: $code-text-color;
    background-color: $code-background-color;
    padding: $code-padding;
  }  
}

// Pagination Styles
section::after {
  position: absolute;
  padding: $pagination-padding;
  height: $pagination-height;
  color: $pagination-text-color;
  font-size: $pagination-text-size;
  content: $pagination-content;
}