/* 
 * @theme minimal
 * @auto-scaling true
 */

$slide-background-color: white;
$slide-text-size: 1.5em;
$slide-text-color: black;
$slide-font-family: Verdana, Geneva, Tahoma, sans-serif;

$header-text-size: 12px;
$footer-text-size: 12px;

$code-background-color: white;
$code-text-color: black;
$code-border-color: black;

$image-border-color: black;

$hyperlink-color: blue;
$hyperlink-decoration: underline;

$title-text-size: 2.5em;
$subtitle-text-size: 1.3em;

$heading3-text-size: 1.6em;
$heading4-text-size: 1.4em;
$heading5-text-size: 1.2em;
$heading6-text-size: 1.0em;

$blockquote-border-color: black;

$table-background-color: white;
$table-border-color: black;
$table-text-color: black;

$pagination-text-size: 12px;
$pagination-content: attr(data-marpit-pagination) ' / ' attr(data-marpit-pagination-total);


// inferred:
$header-text-color: rgba($slide-text-color, 0.75);
$footer-text-color: rgba($slide-text-color, 0.75);
$title-text-color: $slide-text-color;
$subtitle-text-color: rgba($slide-text-color, 0.5);
$blockquote-text-color: rgba($slide-text-color, 0.75);
$pagination-text-color: rgba($slide-text-color, 0.75);
$list-item-text-size: $slide-text-size;

// syntax highlighting
@import '../../../node_modules/highlight.js/styles/vs';

@import './headerfooter.scss';
@import './slide.scss';
@import './heading.scss';
@import './horizontalrule.scss';
@import './listing.scss';
@import './image.scss';
@import './hyperlink.scss';
@import './blockquote.scss';
@import './table.scss';
@import './code.scss';
@import './pagination.scss';