// Listing Styles
section {
    ul,
    ol {
      margin: 30px;
      text-align: left;
      li {
        font-size: $list-item-text-size;
        li {
          font-size: 90%; // auto decrease by x percent
        }
      }    
    }
  
    ul {
      list-style-type: square;
    }
}